body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.main-heading {
  text-align: center;
  background-color: #6a1b9a;
  color: white;
  padding: 10px 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.left,
.right {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.heading-2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin: 5px 0;
}

.form input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: #4a148c;
}

.card {
  display: none;
  margin-top: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff3e0;
}

.card-inner {
  display: flex;
  align-items: center;
}

.card-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 40%;
}

.card-details h3 {
  margin: 5px 0;
  padding-bottom:10px ;
}
